mat-card {
  padding: 1rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

mat-form-field {
  min-width: 20rem;
}

.page-size-selector {
  width: 200px;
}

mat-table {
  width: 100%;
  overflow-x: auto;
}


mat-header-cell,
mat-cell {
  text-align: center;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .page-size-selector {
    width: 100%;
  }

  mat-table {
    overflow-x: auto;
  }
}
