@use 'styles/theme.scss' as theme;
@use "@angular/material" as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@include mat.core();

$rubeus-integration-primary: mat.define-palette(theme.$primaryColors);

$rubeus-integration-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$rubeus-integration-warn: mat.define-palette(mat.$red-palette);

$rubeus-integration-theme: mat.define-light-theme((color: (primary: $rubeus-integration-primary,
        accent: $rubeus-integration-accent,
        warn: $rubeus-integration-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($rubeus-integration-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: theme.$greenMain;
  color: theme.$defaultText;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: theme.$backgroundColor;
  color: theme.$textColor;
}

a:hover {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.items-aligns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ps-nav-separator {
  width: 2px;
  height: 30px;
  background: theme.$separator;
  margin: 0 1.4rem;
}

.text-default {
  color: theme.$textColor;
  font-size: 1rem;
}

.center {
  text-align: center;
}

.rbPadding0x15 {
  padding: 0px 15px;
}

.rbPadding20x20 {
  padding: 20px;
}

.rbPadding5x0 {
  padding: 5px 0px;
}

.rbPadding0x20 {
  padding: 0px 20px;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .items-aligns{
    flex-direction: column;
  }
}
