$greenMain: #0da6a6;
$greenlight: #3dd5d6;
$greendark: #004747;

$redMain: #ff0031;
$redLight: #f0758d;
$redDark: #99001d;

$greyMain: #4d4d4d;
$greyLight: #808080;
$greyVeryLight: #a2a2a2;
$greyDark: #1a1a1a;

$success: #23bf6a;
$warning: #ffb946;
$danger: #f7685b;

$backgroundColor: #f0f0f0;
$textColor: #4d4d4d;
$defaultText: #ffffff;
